openapi: 3.1.1
info:
  title: Polito Students API
  version: 2.2.4
  license:
    name: CC BY-NC 4.0
    url: 'https://creativecommons.org/licenses/by-nc/4.0/'
servers:
  - url: 'https://app.didattica.polito.it/api'
    description: Production server (uses live data)
  - url: 'https://app.didattica.polito.it/mock/api'
    description: Mock server (uses example data)
security:
  - bearerAuth: []
tags:
  - name: Common - Auth
    description: Autenticazione e servizi collegati.
  - name: Common - Profile
    description: 'Profilo utente, messaggi, notifiche e preferenze.'
  - name: Common - News
    description: News dell'Ateneo.
  - name: Common - Places
    description: Mappa e POI di ateneo.
  - name: Common - Emergencies
    description: Numeri e riferimenti di emergenza.
  - name: Common - Faults
    description: Segnalazione guasti e tracciamento stato.
  - name: Common - People
    description: Ricerca e dettaglio contatti della comunità di ateneo.
  - name: Common - Bookings
    description: Prenotazioni aule/laboratori e slot disponibili.
  - name: Common - Courses
    description: Consultazione condivisa delle informazioni sui corsi.
  - name: Students - Auth
    description: Funzionalità di autenticazione specifiche per studenti.
  - name: Students - Student
    description: Operazioni sul profilo studente.
  - name: Students - Exams
    description: Gestione prenotazioni e informazioni sugli appelli d'esame.
  - name: Students - Lectures
    description: 'Calendario lezioni, esercitazioni e aule virtuali.'
  - name: Students - Esc
    description: Gestione della European Student Card.
  - name: Students - Tickets
    description: Apertura e monitoraggio ticket di supporto.
  - name: Students - Job offers
    description: Consultazione offerte di lavoro e opportunità di carriera.
  - name: Students - Offering
    description: Navigazione dell'offerta formativa e dei corsi di laurea.
  - name: Students - Surveys
    description: Questionari e rilevazioni rivolte agli studenti.
  - name: Faculty - Profile
    description: Operazioni specifiche sul profilo del docente.
  - name: Faculty - Exams
    description: Gestione appelli e iscritti lato docente.
  - name: Faculty - Courses
    description: 'Gestione incarichi didattici del docente, lezioni, materiali, avvisi e collaboratori.'
  - name: Faculty - Digital Signature
    description: Elenco e firma digitale documenti.
  - name: Faculty - Calendar
    description: Consultazione e gestione dei calendari e degli eventi dell'agenda docente.
x-tagGroups:
  - name: Common
    tags:
      - Common - Auth
      - Common - Profile
      - Common - News
      - Common - Places
      - Common - Emergencies
      - Common - Faults
      - Common - People
      - Common - Bookings
      - Common - Courses
  - name: Students
    tags:
      - Students - Auth
      - Students - Student
      - Students - Exams
      - Students - Lectures
      - Students - Esc
      - Students - Tickets
      - Students - Job offers
      - Students - Offering
      - Students - Surveys
  - name: Faculty
    tags:
      - Faculty - Profile
      - Faculty - Exams
      - Faculty - Courses
      - Faculty - Digital Signature
      - Faculty - Calendar
paths:
  /auth/client:
    patch:
      tags:
        - Common - Auth
      summary: Update client version fields | Aggiorna i campi di versione del client
      operationId: appInfo
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ClientVersionRequest'
                - $ref: '#/components/schemas/FcmRegistrationRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UpdateInfo'
                required:
                  - data
              example:
                data:
                  suggestUpdate: false
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /auth/login:
    post:
      tags:
        - Common - Auth
      security: []
      summary: Login
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Identity'
                required:
                  - data
              example:
                data:
                  username: s291234
                  type: faculty
                  clientId: 8b2e4c91-7a3d-4f5e-b9c1-6d8a2e4f9b3c
                  token: a7f3e9d1c5b8a2e4f6d9c3b7a1e5f8d2
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /auth/logout:
    delete:
      tags:
        - Common - Auth
      summary: Logout
      description: Invalidates the provided token
      operationId: logout
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /auth/mfa/challenge:
    get:
      tags:
        - Common - Auth
      summary: Fetch pending challenge
      operationId: fetchChallenge
      responses:
        '200':
          description: The most recent of pending challenges
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Token serial number
                        example: EDUP000123456
                      challenge:
                        type: string
                        description: Challenge data to be signed by the App
                        example: dGhpcyBzaG91bGQgYmUgYW4gZWNkcyBwdWJsaWMga2V5Li4uIHdoYXQgZGlkIHlvdSB0aGluayB0aGlzIHdhcz8hIPCfp5AK
                      requestTs:
                        type: string
                        format: date-time
                        description: Challenge request
                        example: '2025-01-01T00:00:00Z'
                      expirationTs:
                        type: string
                        format: date-time
                        description: Challenge expiration
                        example: '2025-01-01T01:00:00Z'
                    required:
                      - serial
                      - challenge
                      - requestTs
                      - expirationTs
                    nullable: true
                required:
                  - data
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /auth/mfa/enrol:
    post:
      tags:
        - Common - Auth
      summary: Enroll a new PUSH token
      operationId: enrolMfa
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  example: some identifier you chose
                  description: 'User-defined description for the token, pre-populated with the device model'
                pubkey:
                  type: string
                  description: Public key generated by the app
                  example: dGhpcyBzaG91bGQgYmUgYW4gZWNkcyBwdWJsaWMga2V5Li4uIHdoYXQgZGlkIHlvdSB0aGluayB0aGlzIHdhcz8hIPCfp5AK
              required:
                - description
                - pubkey
      responses:
        '201':
          description: Token successfully enrolled
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Unique identifier for the enrolled token
                        example: EDUP000123456
                    required:
                      - serial
                required:
                  - data
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /auth/mfa/status:
    get:
      tags:
        - Common - Auth
      summary: Get MFA status for the current user
      operationId: getMfaStatus
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MfaStatusResponse'
                required:
                  - data
              examples:
                active:
                  summary: Active MFA session
                  value:
                    data:
                      status: active
                      details:
                        lastAuth: '2025-02-03T08:30:00Z'
                        authCount: 15
                        serial: EDUP000123456
                        description: iPhone 13
                available:
                  summary: MFA available but not authenticated
                  value:
                    data:
                      status: available
                      details: null
                needsReauth:
                  summary: Requires re-authentication
                  value:
                    data:
                      status: needsReauth
                      details: null
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /auth/mfa/validate:
    post:
      tags:
        - Common - Auth
      summary: Validate a challenge
      operationId: validateMfa
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                serial:
                  type: string
                  description: Token serial number
                  example: EDUP000123456
                nonce:
                  type: string
                  description: Nonce sent by the IdP
                  example: 65ba9e0e5aac421a9150991638a9d697
                signature:
                  type: string
                  description: Signature generated by signing the nonce in the App
                  example: 83e08d9fc4be3de046318eb3c2c9ae4ede1374a5423a1487b92febc70d106994
                decline:
                  type: boolean
                  description: 'if set to true, decline the authentication request'
                  example: false
              required:
                - serial
                - nonce
                - signature
      responses:
        '200':
          description: Challenge validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: Indicates whether the validation succeeded
                        example: true
                    required:
                      - success
                required:
                  - data
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/auth/serviceLink/liveClass/{meetingID}':
    get:
      tags:
        - Common - Auth
      summary: Get authorised service link for LiveClass meeting
      operationId: getLiveClassLink
      parameters:
        - name: meetingID
          in: path
          required: true
          schema:
            type: string
          description: LiveClass meeting identifier
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LinkToService'
                required:
                  - data
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /auth/serviceLink/mail:
    get:
      tags:
        - Common - Auth
      summary: Get authorised service link for Mail
      operationId: getMailLink
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LinkToService'
                required:
                  - data
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/auth/serviceLink/moodle/{course}':
    get:
      tags:
        - Common - Auth
      summary: Get authorised service link for Moodle course
      operationId: getMoodleLink
      parameters:
        - name: course
          in: path
          required: true
          schema:
            type: integer
          description: Moodle course identifier
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LinkToService'
                required:
                  - data
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /auth/switch-career:
    post:
      tags:
        - Students - Auth
      summary: Switch career | Cambia carriera
      operationId: switchCareer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: s290683
                client:
                  $ref: '#/components/schemas/Client'
                device:
                  $ref: '#/components/schemas/Device'
              required:
                - username
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Identity'
                required:
                  - data
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /booking-topics:
    get:
      tags:
        - Common - Bookings
      summary: List booking topics | Elenca ambiti di prenotazione
      operationId: getBookingTopics
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookingTopic'
                required:
                  - data
              example:
                data:
                  - id: LIBRARY_STUDY_ROOMS
                    title: Library Study Rooms
                    description: Book individual or group study rooms in university libraries
                    isEnabled: true
                    disclaimer: 'Please arrive on time. Late arrivals forfeit the booking.'
                    showCalendar: true
                    slotLength: 120
                    slotsPerHour: 0.5
                    startDate: '2025-02-03'
                    startHour: 8
                    subtopics:
                      - id: LIBRARY_CIT_STUDY
                        title: Central Library - Cittadella Politecnica
                        description: Study rooms with capacity for 1-8 people
                        isEnabled: true
                        disclaimer: ''
                        showCalendar: true
                        slotLength: 120
                        slotsPerHour: 0.5
                        startDate: '2025-02-03'
                        startHour: 8
                        requirements:
                          - name: Library Rules and Regulations
                            url: 'https://www.biblio.polito.it/en/services/regulations'
                  - id: COMPUTER_LABS
                    title: Computer Labs
                    description: Reserve workstations in computer labs for assignments and projects
                    isEnabled: true
                    disclaimer: 'Booking required for all lab sessions. Maximum 3 hours per day.'
                    showCalendar: true
                    slotLength: 60
                    slotsPerHour: 1
                    startDate: '2025-02-03'
                    startHour: 9
                    subtopics:
                      - id: LAB_LAIB_1
                        title: LAIB 1 - Software Development Lab
                        description: Equipped with latest IDEs and development tools
                        isEnabled: true
                        disclaimer: ''
                        showCalendar: true
                        slotLength: 60
                        slotsPerHour: 1
                        startDate: '2025-02-03'
                        startHour: 9
                        requirements: []
                      - id: LAB_LAIB_2
                        title: LAIB 2 - Data Science Lab
                        description: High-performance computing for data analysis
                        isEnabled: true
                        disclaimer: ''
                        showCalendar: true
                        slotLength: 60
                        slotsPerHour: 1
                        startDate: '2025-02-03'
                        startHour: 9
                        requirements: []
                  - id: STUDENT_SERVICES
                    title: Student Services Appointments
                    description: Book appointments with administrative offices
                    isEnabled: true
                    disclaimer: 'Bring required documents and student ID to your appointment.'
                    showCalendar: true
                    slotLength: 15
                    slotsPerHour: 4
                    startDate: '2025-02-03'
                    startHour: 9
                    subtopics:
                      - id: STUDENT_SEC_GENERAL
                        title: Student Secretary - General Inquiries
                        description: Information about enrollment, transcripts, certificates
                        isEnabled: true
                        disclaimer: ''
                        showCalendar: true
                        slotLength: 15
                        slotsPerHour: 4
                        startDate: '2025-02-03'
                        startHour: 9
                        requirements:
                          - name: Required Documents List
                            url: 'https://didattica.polito.it/documents_checklist.pdf'
                      - id: STUDENT_SEC_INTL
                        title: Student Secretary - International Students
                        description: Support for international students in English
                        isEnabled: true
                        disclaimer: ''
                        showCalendar: true
                        slotLength: 15
                        slotsPerHour: 4
                        startDate: '2025-02-03'
                        startHour: 9
                        requirements: []
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/booking-topics/{bookingTopicId}/slots':
    get:
      tags:
        - Common - Bookings
      summary: Show booking slots | Mostra turni prenotabili
      operationId: getBookingSlots
      parameters:
        - name: bookingTopicId
          in: path
          required: true
          schema:
            type: string
        - name: fromDate
          in: query
          description: First day - defaults to monday of current week
          required: false
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          description: Last day - defaults to sunday of current week
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookingSlot'
                required:
                  - data
              example:
                data:
                  - id: 891234
                    description: ''
                    isBooked: false
                    canBeBooked: true
                    hasSeats: true
                    hasSeatSelection: true
                    places: 140
                    bookedPlaces: 98
                    feedback: '42 seats available'
                    location:
                      name: Central Library - Study Hall A
                      description: Large study hall with individual workstations
                      type: physical
                  - id: 891235
                    description: ''
                    isBooked: true
                    canBeBooked: false
                    hasSeats: false
                    hasSeatSelection: false
                    places: 1
                    bookedPlaces: 1
                    feedback: 'You have already booked this slot'
                    location:
                      name: Student Secretary - Office 102
                      description: ''
                      type: physical
                  - id: 891236
                    description: ''
                    isBooked: false
                    canBeBooked: false
                    hasSeats: true
                    hasSeatSelection: true
                    places: 60
                    bookedPlaces: 60
                    feedback: 'This slot is fully booked'
                    location:
                      name: LAIB 1 - Software Development Lab
                      description: Computer lab with 60 workstations
                      type: physical
                  - id: 891237
                    description: ''
                    isBooked: false
                    canBeBooked: true
                    hasSeats: false
                    hasSeatSelection: false
                    places: 4
                    bookedPlaces: 2
                    feedback: '2 appointments available'
                    location:
                      name: Virtual Meeting Room
                      description: ''
                      type: virtualPlace
                  - id: 891238
                    description: ''
                    isBooked: false
                    canBeBooked: true
                    hasSeats: true
                    hasSeatSelection: false
                    places: 8
                    bookedPlaces: 5
                    feedback: '3 seats available'
                    location:
                      name: Group Study Room 3B
                      description: Medium-sized study room with whiteboard
                      type: physical
        '404':
          description: Booking topic not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/booking-topics/{bookingTopicId}/slots/{bookingSlotId}/seats':
    get:
      tags:
        - Common - Bookings
      summary: Show seats for a booking slots | Mostra posti prenotabili
      operationId: getBookingSeats
      parameters:
        - name: bookingTopicId
          in: path
          required: true
          schema:
            type: string
        - name: bookingSlotId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BookingSeats'
                required:
                  - data
              example:
                data:
                  totalCount: 140
                  availableCount: 42
                  rows:
                    - id: 1
                      label: A
                      seats:
                        - id: 20001
                          status: available
                          label: A1
                        - id: 20002
                          status: available
                          label: A2
                        - id: 20003
                          status: booked
                          label: A3
                        - id: 20004
                          status: available
                          label: A4
                        - id: 20005
                          status: booked
                          label: A5
                        - id: 20006
                          status: booked
                          label: A6
                        - id: 20007
                          status: available
                          label: A7
                        - id: 20008
                          status: booked
                          label: A8
                        - id: 20009
                          status: available
                          label: A9
                        - id: 20010
                          status: booked
                          label: A10
                    - id: 2
                      label: B
                      seats:
                        - id: 20011
                          status: booked
                          label: B1
                        - id: 20012
                          status: booked
                          label: B2
                        - id: 20013
                          status: available
                          label: B3
                        - id: 20014
                          status: booked
                          label: B4
                        - id: 20015
                          status: available
                          label: B5
                        - id: 20016
                          status: available
                          label: B6
                        - id: 20017
                          status: booked
                          label: B7
                        - id: 20018
                          status: available
                          label: B8
                        - id: 20019
                          status: available
                          label: B9
                        - id: 20020
                          status: unavailable
                          label: B10
                    - id: 3
                      label: C
                      seats:
                        - id: 20021
                          status: available
                          label: C1
                        - id: 20022
                          status: booked
                          label: C2
                        - id: 20023
                          status: booked
                          label: C3
                        - id: 20024
                          status: available
                          label: C4
                        - id: 20025
                          status: booked
                          label: C5
                        - id: 20026
                          status: available
                          label: C6
                        - id: 20027
                          status: booked
                          label: C7
                        - id: 20028
                          status: available
                          label: C8
                        - id: 20029
                          status: booked
                          label: C9
                        - id: 20030
                          status: unavailable
                          label: C10
        '404':
          description: Booking topic|slot not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /bookings:
    get:
      tags:
        - Common - Bookings
      summary: List bookings | Elenca prenotazioni
      operationId: getBookings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
                required:
                  - data
              example:
                data:
                  - id: 258674
                    description: ''
                    topic:
                      id: LIBRARY_STUDY_ROOMS
                      title: Library Study Rooms
                      description: Book individual or group study rooms in university libraries
                    subtopic:
                      id: LIBRARY_CIT_STUDY
                      title: Central Library - Cittadella Politecnica
                      description: Study rooms with capacity for 1-8 people
                    startsAt: '2025-02-03T14:00:00Z'
                    endsAt: '2025-02-03T16:00:00Z'
                    seat:
                      id: 20018
                      row: B
                      column: '8'
                    cancelableUntil: '2025-02-03T13:00:00Z'
                    location:
                      type: place
                      buildingId: TO_CIT22
                      floorId: P01
                      name: Central Library - Study Hall A
                      roomId: '140'
                      siteId: TO_CIT
                      description: Large study hall with individual workstations
                    locationCheck:
                      enabled: true
                      checked: false
                      latitude: '45.0626340000000000'
                      longitude: '7.6605410000000000'
                      radiusInKm: 0.1
                  - id: 258675
                    description: ''
                    topic:
                      id: STUDENT_SERVICES
                      title: Student Services Appointments
                      description: Book appointments with administrative offices
                    subtopic:
                      id: STUDENT_SEC_GENERAL
                      title: Student Secretary - General Inquiries
                      description: Information about enrollment, transcripts, certificates
                    startsAt: '2025-02-05T10:30:00Z'
                    endsAt: '2025-02-05T10:45:00Z'
                    seat: null
                    cancelableUntil: '2025-02-05T09:30:00Z'
                    location:
                      type: virtualPlace
                      name: Virtual Meeting Room - Student Secretary
                      url: 'https://didattica.polito.it/pls/portal30/sviluppo.bbb_corsi.queueRoom?id=STUDENT_SEC&p_tipo=STUDENT_SEC'
                    locationCheck:
                      enabled: false
                      checked: false
                      latitude: null
                      longitude: null
                      radiusInKm: null
                  - id: 258676
                    description: ''
                    topic:
                      id: COMPUTER_LABS
                      title: Computer Labs
                      description: Reserve workstations in computer labs for assignments and projects
                    subtopic:
                      id: LAB_LAIB_1
                      title: LAIB 1 - Software Development Lab
                      description: Equipped with latest IDEs and development tools
                    startsAt: '2025-02-04T15:00:00Z'
                    endsAt: '2025-02-04T16:00:00Z'
                    seat:
                      id: 20045
                      row: C
                      column: '12'
                    cancelableUntil: '2025-02-04T14:00:00Z'
                    location:
                      type: place
                      buildingId: TO_CIT09
                      floorId: P02
                      name: LAIB 1 - Software Development Lab
                      roomId: '60'
                      siteId: TO_CIT
                      description: Computer lab with 60 workstations
                    locationCheck:
                      enabled: true
                      checked: true
                      latitude: '45.0636450000000000'
                      longitude: '7.6598230000000000'
                      radiusInKm: 0.05
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    post:
      tags:
        - Common - Bookings
      summary: Create booking | Crea prenotazione
      operationId: createBooking
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                slotId:
                  type: integer
                  example: 226439
                seatId:
                  type: integer
                  example: 20018
              required:
                - slotId
      responses:
        '200':
          description: Success
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/bookings/{bookingId}':
    patch:
      tags:
        - Common - Bookings
      summary: Update booking | Aggiorna prenotazione
      operationId: updateBooking
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isLocationChecked:
                  type: boolean
                  example: true
              required:
                - isLocationChecked
      responses:
        '200':
          description: Success
        '404':
          description: Booking not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags:
        - Common - Bookings
      summary: Delete booking | Cancella prenotazione
      operationId: deleteBooking
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
        '404':
          description: Booking not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /courses:
    get:
      tags:
        - Common - Courses
      summary: List courses | Elenca corsi
      operationId: getCourses
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CourseOverview'
                required:
                  - data
              examples:
                cybersecurityTrack:
                  summary: Piano di studi Cybersecurity magistrale
                  value:
                    data:
                      - id: 251007
                        name: System and device programming
                        shortcode: 01NYHOV
                        cfu: 10
                        teachingPeriod: 2-2
                        teacherId: 2893
                        previousEditions:
                          - id: 245900
                            year: '2023'
                          - id: 240120
                            year: '2022'
                        isModule: false
                        year: '2024'
                        moodleCourses:
                          - name: System and Device Programming (Aa 23/24)
                            id: '765432'
                        isOverBooking: false
                        isInPersonalStudyPlan: true
                        enrolledCount: 182
                      - id: 252138
                        name: Information systems security
                        shortcode: 01TYMOV
                        cfu: 6
                        teachingPeriod: 1-1
                        teacherId: 1847
                        previousEditions:
                          - id: 247800
                            year: '2023'
                        isModule: false
                        year: '2024'
                        moodleCourses:
                          - name: Information Systems Security (Aa 23/24)
                            id: '778899'
                        isOverBooking: true
                        isInPersonalStudyPlan: true
                        enrolledCount: 260
                      - id: 252258
                        name: Cybersecurity
                        shortcode: 01UDROV
                        cfu: 6
                        teachingPeriod: 2-2
                        teacherId: 1847
                        previousEditions:
                          - id: 248655
                            year: '2023'
                        isModule: false
                        year: '2024'
                        moodleCourses:
                          - name: Cybersecurity - Course Page
                            id: '889900'
                        isOverBooking: false
                        isInPersonalStudyPlan: true
                        enrolledCount: 210
                      - id: 253110
                        name: Network Forensics (Module)
                        shortcode: 04NFREV
                        cfu: 3
                        teachingPeriod: 2-2
                        teacherId: 2150
                        previousEditions: []
                        isModule: true
                        moduleNumber: 1
                        year: '2024'
                        moodleCourses: null
                        isOverBooking: false
                        isInPersonalStudyPlan: true
                        enrolledCount: null
                      - id: 253111
                        name: Malware Analysis (Module)
                        shortcode: 04MAREV
                        cfu: 3
                        teachingPeriod: 2-2
                        teacherId: null
                        previousEditions: []
                        isModule: true
                        moduleNumber: 2
                        year: '2024'
                        moodleCourses: null
                        isOverBooking: false
                        isInPersonalStudyPlan: true
                        enrolledCount: null
                electiveSearch:
                  summary: Corsi opzionali disponibili fuori dal piano personale
                  value:
                    data:
                      - id: 260200
                        name: Human Computer Interaction
                        shortcode: 02JSKOV
                        cfu: 6
                        teachingPeriod: 1-1
                        teacherId: 25734
                        previousEditions:
                          - id: 255500
                            year: '2023'
                        isModule: false
                        year: '2024'
                        moodleCourses:
                          - name: Human Computer Interaction (Aa 23/24)
                            id: '667788'
                        isOverBooking: false
                        isInPersonalStudyPlan: false
                        enrolledCount: 145
                      - id: 261300
                        name: Applied Machine Learning
                        shortcode: 03AMLIV
                        cfu: 6
                        teachingPeriod: 2-2
                        teacherId: 1986
                        previousEditions: []
                        isModule: false
                        year: '2024'
                        moodleCourses:
                          - name: Applied Machine Learning
                            id: '554433'
                        isOverBooking: false
                        isInPersonalStudyPlan: false
                        enrolledCount: 120
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}':
    get:
      tags:
        - Common - Courses
      summary: Show course | Mostra corso
      operationId: getCourse
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Course'
                required:
                  - data
        '404':
          description: Course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/courses/{courseId}/assignments':
    get:
      tags:
        - Common - Courses
      summary: List assignments | Elenca elaborati
      operationId: getCourseAssignments
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CourseAssignment'
                required:
                  - data
              example:
                data:
                  - id: 1003948
                    description: extrapoints2
                    mimeType: application/x-zip-compressed
                    filename: extrapoints2.zip
                    uploadedAt: '2022-01-21T14:38:00Z'
                    deletedAt: null
                    url: 'https://file.didattica.polito.it/down/ELABORATI_PRE/1003948/S290683/14576f69df588d55b631c3c3c30de3f5/6305eae6'
                    sizeInKiloBytes: 195
                  - id: 993784
                    description: extrapoints1
                    mimeType: application/x-zip-compressed
                    filename: extrapoints1.zip
                    uploadedAt: '2022-01-10T18:53:00Z'
                    deletedAt: null
                    url: 'https://file.didattica.polito.it/down/ELABORATI_PRE/993784/S290683/15c275f7f7682c6acb5acd07d24590a9/6305eae6'
                    sizeInKiloBytes: 401
                  - id: 982517
                    description: lab_09
                    mimeType: application/zip
                    filename: lab_09.zip
                    uploadedAt: '2021-12-16T22:48:00Z'
                    deletedAt: null
                    url: 'https://file.didattica.polito.it/down/ELABORATI_PRE/982517/S290683/29288344d27567de6ddf0fa718b980a5/6305eae6'
                    sizeInKiloBytes: 126
                  - id: 979076
                    description: lab_08
                    mimeType: application/x-zip-compressed
                    filename: lab8.zip
                    uploadedAt: '2021-12-10T20:13:00Z'
                    deletedAt: null
                    url: 'https://file.didattica.polito.it/down/ELABORATI_PRE/979076/S290683/3fecdf972707d6cbc439ed0fbbbe726a/6305eae6'
                    sizeInKiloBytes: 136
                  - id: 970722
                    description: lab_06
                    mimeType: application/x-zip-compressed
                    filename: lab_06.zip
                    uploadedAt: '2021-11-26T12:11:00Z'
                    deletedAt: null
                    url: 'https://file.didattica.polito.it/down/ELABORATI_PRE/970722/S290683/bc51c37cf1368917a24de8d571b069bd/6305eae6'
                    sizeInKiloBytes: 169
                  - id: 948012
                    description: lab_04
                    mimeType: application/zip
                    filename: lab_04.zip
                    uploadedAt: '2021-10-30T17:26:00Z'
                    deletedAt: null
                    url: 'https://file.didattica.polito.it/down/ELABORATI_PRE/948012/S290683/ca52325301df0130d718c7a0525df288/6305eae6'
                    sizeInKiloBytes: 259
                  - id: 947503
                    description: lab_03
                    mimeType: application/x-zip-compressed
                    filename: lab_03.zip
                    uploadedAt: '2021-10-29T12:33:00Z'
                    deletedAt: null
                    url: 'https://file.didattica.polito.it/down/ELABORATI_PRE/947503/S290683/b829dada99af4b2576e551bd852e0a25/6305eae6'
                    sizeInKiloBytes: 139
                  - id: 941444
                    description: lab_02
                    mimeType: application/zip
                    filename: lab_02.zip
                    uploadedAt: '2021-10-22T12:12:00Z'
                    deletedAt: null
                    url: 'https://file.didattica.polito.it/down/ELABORATI_PRE/941444/S290683/08ec123878543394393bd31719863eda/6305eae6'
                    sizeInKiloBytes: 305
                  - id: 934034
                    description: lab_01
                    mimeType: application/x-zip-compressed
                    filename: lab_01.zip
                    uploadedAt: '2021-10-13T11:20:00Z'
                    deletedAt: null
                    url: 'https://file.didattica.polito.it/down/ELABORATI_PRE/934034/S290683/fd675d8a411d0747885b24e473a5d683/6305eae6'
                    sizeInKiloBytes: 144
        '404':
          description: Course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    post:
      tags:
        - Common - Courses
      summary: Upload assignment | Carica elaborato
      operationId: uploadCourseAssignment
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CourseAssignmentUpload'
        required: true
      responses:
        '200':
          description: Success
        '404':
          description: Course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/assignments/{assignmentId}':
    patch:
      tags:
        - Common - Courses
      summary: Update assignment | Aggiorna elaborato
      operationId: updateAssignment
      parameters:
        - $ref: '#/components/parameters/courseIdParam'
        - $ref: '#/components/parameters/assignmentIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssignmentRequest'
      responses:
        '200':
          description: Assignment successfully updated
        '404':
          description: Course or assignment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/files':
    get:
      tags:
        - Common - Courses
      summary: List files | Elenca file
      operationId: getCourseFiles
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CourseDirectoryContent'
                required:
                  - data
              example:
                data:
                  - id: '33248655'
                    name: videolectures
                    type: directory
                    files:
                      - id: '33248890'
                        name: HCI2021-L01 2021-09-28 13-06-26.m4v
                        sizeInKiloBytes: 123428
                        mimeType: video/x-m4v
                        createdAt: '2021-09-28T16:31:43Z'
                        type: file
                      - id: '33251708'
                        name: HCI2021-L02 2021-09-30 08-34-32.mp4
                        sizeInKiloBytes: 248172
                        mimeType: video/mp4
                        createdAt: '2021-09-30T10:20:50Z'
                        type: file
                      - id: '33256476'
                        name: HCI2021-L03 2021-10-05 13-06-47.mp4
                        sizeInKiloBytes: 243792
                        mimeType: video/mp4
                        createdAt: '2021-10-05T15:00:15Z'
                        type: file
                      - id: '33257988'
                        name: HCI2021-L04 2021-10-07 08-35-46.mp4
                        sizeInKiloBytes: 244993
                        mimeType: video/mp4
                        createdAt: '2021-10-07T11:12:25Z'
                        type: file
                      - id: '33262287'
                        name: HCI2021-L05 2021-10-12 13-05-46.mp4
                        sizeInKiloBytes: 298172
                        mimeType: video/mp4
                        createdAt: '2021-10-12T16:11:46Z'
                        type: file
                      - id: '33265387'
                        name: HCI2021-L06 2021-10-14 08-35-12.mp4
                        sizeInKiloBytes: 285926
                        mimeType: video/mp4
                        createdAt: '2021-10-14T11:25:20Z'
                        type: file
                      - id: '33269079'
                        name: HCI2021-L07 2021-10-19 13-10-40.mp4
                        sizeInKiloBytes: 234466
                        mimeType: video/mp4
                        createdAt: '2021-10-19T15:02:22Z'
                        type: file
        '404':
          description: Course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    post:
      tags:
        - Common - Courses
      summary: Upload file | Carica materiale didattico
      operationId: uploadCourseFile
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CourseFileUploadRequest'
      responses:
        '201':
          description: Caricato
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CourseFileOverview'
                required:
                  - data
              example:
                data:
                  id: '1045892'
                  title: Lecture 3 - Design Patterns
                  description: Slides and code examples for lecture 3
                  sizeInKiloBytes: 2847
                  mimeType: application/pdf
                  createdAt: '2025-02-03T14:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '413':
          description: File troppo grande
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/files/{fileId}':
    get:
      tags:
        - Common - Courses
      summary: Download file | Scarica file
      operationId: getCourseFile
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '302':
          description: Redirect to file download
        '404':
          description: Course or file not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags:
        - Common - Courses
      summary: Delete file | Elimina file corso
      operationId: deleteCourseFile
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Eliminato
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/guide':
    get:
      tags:
        - Common - Courses
      summary: Show guide | Mostra guida
      operationId: getCourseGuide
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CourseGuideSection'
                required:
                  - data
              example:
                data:
                  - title: Presentazione
                    content: 'Nowadays, computing devices are ubiquitously present and integrated in our daily life. Sensors and actuators are, indeed, embedded in home appliances, lights, or cars; wearable devices like smart watches provide information at glance and act as always-on and personal digital extensions; smartphones and tablets are widely spread. Moreover, most of such devices are Internet-connected and powered by Artificial Intelligence, and people communicate with them by using various interaction paradigms, ranging from "click", to touch, to gestures, speech, or tangible manipulation. As the technology improves, however, we are challenged of how to design suitable interfaces and interactions, so that people can use such technologies with "joy" rather than "frustration".\f\n\f\nThis course would provide a strong foundation to address this challenge. In addition, the course will give students hands-on practice to master this complexity and to develop innovative solutions by adopting a modern human-centered design process while building a web application to serve a set of target users. In the end, students will learn how to design and build technologies usable, useful, and used.'
                  - title: Risultati attesi
                    content: 'Knowledge:\f\n- Concepts of Usability, User Experience\f\n- User centered design processes and their application\f\n- Novel Interaction Technologies\f\n\f\nSkills:\f\n- Developing a working prototype according to a human-centered design process\f\n- Mastering some novel interaction technologies\f\n- Experience joint development of a project in a group of engineers'
                  - title: Prerequisiti
                    content: '- Programming skills\f\n- Knowledge on web and related technologies/languages (e.g., HTML, JS, client-server architectures, …)\f\n- Attitude towards working in teams\f\n'
                  - title: Programma
                    content: 'Course topics will cover three areas: \f\n\f\n - Introduction to Human-Computer Interaction: history, the human, the computer, vision of the future.\f\n\f\n - Building interactive applications with a human-centered process. The main tasks and methods to design, develop, and evaluate an interactive application: needfindings strategies, low- and high-fidelity prototypes, mental models and visual design, heuristic evaluation, and basic concepts and methods for controlled experiments (3 credits of lectures and exercises).\f\nThis part will focus, in general, on the design process. Such concepts will be applied to a specific application domain in the development of a group project, which will be carried on during the lab hours (2 credits). \f\n\f\n - "Beyond WIMP" paradigms: e.g., interaction with AI-powered systems, tangible interaction, voice user interfaces, wearables, gestures, and eye tracking. Selected paradigms will be discussed from different perspectives, ranging from rationale and vision, to contemporary examples and development tools (1 credit). Thematic seminars on emerging topics might also be included, as well as the illustration of specific "case studies".\f\n\f\nMost of the topics will have a theoretical (in-class) foundation plus hands-on (in-lab) experiences by using web technologies. Students projects will follow the proposed human-centered design process and will submit intermediate deliverables. Projects will consist of interactive prototypes as modern web applications, in which a "beyond WIMP" paradigm might be exploited for user interaction.\f\n\f\nDuring the course, communication within teams and with teachers as well as project development will adopt contemporary solutions and tools (e.g., Git and GitHub, Slack/Discord, …).'
                  - title: Note
                    content: ''
                  - title: Organizzazione dell'insegnamento
                    content: 'The learning method is both project-based (i.e., students learn by doing a project) and problem-based (i.e., the project work starts from real users’ needs), with teams of students working together towards a common goal. \f\n\f\nProject-related activities will start since the beginning of the course and teachers will provide support and guidance for the entire semester. The project will be accompanied by deliverables to be prepared before given deadlines. \f\n\f\nThe course may include live seminars by people from industry or other organizations.'
                  - title: Bibliografia
                    content: '* Course slides and related materials (e.g., links, readings, …)\f\n* Selected chapters of:\f\n - Alan Dix, Janet Finlay, Gregory Abowd, Russell Beale: Human Computer Interaction, 3rd Edition, Prentice Hall, 2004, ISBN 0-13-046109-1\f\n - Shneiderman, Plaisant, Cohen, Jacobs, Elmqvist & Diakopoulos: Designing the User Interface: Strategies for Effective Human-Computer Interaction, 6th Edition, Pearson, 2016, 013438038X / 9780134380384\f\n'
                  - title: Regole d'esame
                    content: 'The exam consists in a written test (in class) and in the evaluation of the group project. The two parts are mandatory and must be taken in the same academic year.\f\n\f\nThe written exam will be closed-note (no books nor notes) and on the topics covered during the lectures (i.e., no code or project-related questions). The duration will be 60 minutes, and will consist of a set of open questions. It will account for 40% of the score, with a minimum threshold.\f\n\f\nThe group project will be evaluated through an oral session, where all group components must be present.\f\nThe evaluation criteria for the group project include: effort invested in the project activity; originality, complexity, and richness of the solution; methodological and technical correctness; completeness and communication quality of the deliverables; presentation and oral discussion; individual contribution. It will account for 60% of the score'
        '404':
          description: Course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/lectures':
    get:
      tags:
        - Common - Courses
      summary: Elenca lezioni del corso
      operationId: listCourseLectures
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CourseId'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCourseLectureList'
              example:
                data:
                  - id: 'lec_891234'
                    courseId: '251007'
                    title: Introduction to Operating Systems
                    type: LECTURE
                    startsAt: '2025-02-05T09:00:00Z'
                    endsAt: '2025-02-05T10:30:00Z'
                    topic: Process Management
                    language: English
                    room:
                      buildingId: TO_CIT09
                      floorId: P01
                      name: Aula 3I
                      roomId: '42'
                      siteId: TO_CIT
                    staff:
                      - personId: '2893'
                        name: Prof. Giovanni Malnati
                        role: OWNER
                    status: PUBLISHED
                  - id: 'lec_891235'
                    courseId: '251007'
                    title: Threads and Concurrency
                    type: LECTURE
                    startsAt: '2025-02-07T14:00:00Z'
                    endsAt: '2025-02-07T15:30:00Z'
                    topic: Multithreading
                    language: English
                    room:
                      buildingId: TO_CIT09
                      floorId: P01
                      name: Aula 3I
                      roomId: '42'
                      siteId: TO_CIT
                    staff:
                      - personId: '2893'
                        name: Prof. Giovanni Malnati
                        role: OWNER
                      - personId: '3124'
                        name: Dr. Marco Torchiano
                        role: COLLABORATOR
                    status: PUBLISHED
                  - id: 'lec_891236'
                    courseId: '251007'
                    title: Lab Session 1 - Process Programming
                    type: LAB
                    startsAt: '2025-02-10T15:00:00Z'
                    endsAt: '2025-02-10T17:00:00Z'
                    topic: Hands-on with fork() and exec()
                    language: English
                    room:
                      buildingId: TO_CIT09
                      floorId: P02
                      name: LAIB 1
                      roomId: '60'
                      siteId: TO_CIT
                    staff:
                      - personId: '4567'
                        name: Eng. Laura Bianchi
                        role: OWNER
                    status: PUBLISHED
                page: 1
                pageSize: 20
                total: 45
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/lectures/{lectureId}':
    get:
      tags:
        - Common - Courses
      summary: Dettaglio lezione
      operationId: getCourseLecture
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CourseId'
        - $ref: '#/components/parameters/LectureId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CourseLecture'
                required:
                  - data
              example:
                data:
                  id: 'lec_891235'
                  courseId: '251007'
                  title: Threads and Concurrency
                  type: LECTURE
                  startsAt: '2025-02-07T14:00:00Z'
                  endsAt: '2025-02-07T15:30:00Z'
                  topic: Introduction to multithreading concepts and POSIX threads
                  language: English
                  room:
                    buildingId: TO_CIT09
                    floorId: P01
                    name: Aula 3I
                    roomId: '42'
                    siteId: TO_CIT
                  staff:
                    - personId: '2893'
                      name: Prof. Giovanni Malnati
                      role: OWNER
                    - personId: '3124'
                      name: Dr. Marco Torchiano
                      role: COLLABORATOR
                  status: PUBLISHED
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    put:
      tags:
        - Common - Courses
      summary: Crea o aggiorna una lezione
      operationId: upsertCourseLecture
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CourseId'
        - $ref: '#/components/parameters/LectureId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseLectureUpsertRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CourseLecture'
                required:
                  - data
              example:
                data:
                  id: 'lec_891235'
                  courseId: '251007'
                  title: Threads and Concurrency - Updated
                  type: LECTURE
                  startsAt: '2025-02-07T14:30:00Z'
                  endsAt: '2025-02-07T16:00:00Z'
                  topic: Advanced multithreading concepts and synchronization
                  language: English
                  room:
                    buildingId: TO_CIT09
                    floorId: P01
                    name: Aula 5I
                    roomId: '48'
                    siteId: TO_CIT
                  staff:
                    - personId: '2893'
                      name: Prof. Giovanni Malnati
                      role: OWNER
                  status: PUBLISHED
        '201':
          description: Creato
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CourseLecture'
                required:
                  - data
              example:
                data:
                  id: 'lec_891240'
                  courseId: '251007'
                  title: Memory Management
                  type: LECTURE
                  startsAt: '2025-02-12T09:00:00Z'
                  endsAt: '2025-02-12T10:30:00Z'
                  topic: Virtual memory and paging
                  language: English
                  room:
                    buildingId: TO_CIT09
                    floorId: P01
                    name: Aula 3I
                    roomId: '42'
                    siteId: TO_CIT
                  staff:
                    - personId: '2893'
                      name: Prof. Giovanni Malnati
                      role: OWNER
                  status: DRAFT
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags:
        - Common - Courses
      summary: Elimina una lezione
      operationId: deleteCourseLecture
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CourseId'
        - $ref: '#/components/parameters/LectureId'
      responses:
        '204':
          description: Eliminato
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/nextLecture':
    get:
      tags:
        - Common - Courses
      summary: Get next lecture | Ottieni prossima lezione
      operationId: getNextLecture
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Lecture'
                required:
                  - data
              example:
                data:
                  id: 12131312
                  startsAt: '2021-09-28T14:30:00Z'
                  endsAt: '2021-09-28T17:30:00Z'
                  place:
                    buildingId: TO_CIT22
                    floorId: XPTE
                    name: Aula 1P
                    roomId: '036'
                    siteId: TO_CIT
                  type: Lezione
                  description: null
                  courseId: 252258
                  courseName: Human Computer Interaction
                  teacherId: 1847
                  virtualClassrooms:
                    - id: 149336
                      title: 'CYB / lecture 28.09.2021 (TLS, slides 1-40)'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '404':
          description: Lecture not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/courses/{courseId}/notices':
    get:
      tags:
        - Common - Courses
      summary: List notices | Elenca avvisi
      operationId: getCourseNotices
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CourseNotice'
                required:
                  - data
              example:
                data:
                  - id: '332559'
                    title: Welcome to HCI 2021
                    body: '<p>Dear students, welcome to the 2021 edition of the Human Computer Interaction course!</p>'
                    status: VISIBLE
                    publishedAt: '2021-09-22T14:00:00Z'
                    createdAt: '2021-09-21T08:30:00Z'
                    visibleFrom: '2021-09-22T14:00:00Z'
                    visibleTo: '2021-10-01T23:59:59Z'
                    content: '<p>Dear students,</p>\r\r<p>welcome to the 2021 edition of the Human Computer Interaction course (<strong>HCI</strong>, for short)!</p>\r\r<p>Some useful information to get started...</p>\r\r<p>The <strong>first class</strong> will be on Tuesday, September 28, in Room 7T, from 13:00 to 14:30.<br />\rDon&#39;t forget to <em>book</em> a spot in the room, starting from tomorrow, on the Portale della Didattica: the rooms given to this course are currently bigger than the number of enrolled students, so there should be space for everybody!</p>\r\r<p>All teaching <strong>material</strong>, information, and course schedule will be posted on the page: <a href=\"http://bit.ly/polito-hci\">http://bit.ly/polito-hci</a> (we will <u>not</u>&nbsp;use the Portale della Didattica).</p>\r\r<p>All messages and communications with the teachers, and among students, will be on <strong>Slack</strong>. We will <u>completely</u>&nbsp;avoid email communications.<br />\rPlease, join the <em>HCI Slack workspace</em> at the address:<br />\r&nbsp; <a href=\"https://join.slack.com/t/polito-hci-2021/signup\">https://join.slack.com/t/polito-hci-2021/signup</a><br />\rPlease note: to have access to the workspace, you must use your<em> @studenti.polito.it </em>email address. You are free to choose your nickname as you prefer.&nbsp;</p>\r\r<p>Finally, all lectures &mdash; not labs &mdash; will be <strong>video-recorded</strong> and made available both on YouTube and on the Portale della Didattica. The YouTube playlist is:<br />\r&nbsp; <a href=\"https://www.youtube.com/playlist?list=PLs7DWGc_wmwT-1N2vbRkLWrM6LIker9A-\">https://www.youtube.com/playlist?list=PLs7DWGc_wmwT-1N2vbRkLWrM6LIker9A-</a></p>\r\r<p>See you on Tuesday!</p>\r\r<p>Thanks,</p>\r\r<p>Luigi and Fulvio</p>\r'
        '404':
          description: Course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/notices/{noticeId}':
    put:
      tags:
        - Common - Courses
      summary: Crea o aggiorna un avviso del corso
      operationId: upsertCourseNoticeV2
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CourseId'
        - $ref: '#/components/parameters/NoticeId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseNoticeUpsertRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CourseNotice'
                required:
                  - data
              example:
                data:
                  id: '332559'
                  title: Welcome to System and Device Programming 2025 - Updated
                  body: '<p>Dear students, welcome to the updated 2025 edition!</p>'
                  status: VISIBLE
                  publishedAt: '2025-02-01T14:00:00Z'
                  createdAt: '2025-01-28T10:30:00Z'
                  visibleFrom: '2025-02-01T14:00:00Z'
                  visibleTo: '2025-02-15T23:59:59Z'
                  content: '<p>Dear students,</p>\r\r<p>Welcome to the <strong>2025 edition</strong> of System and Device Programming!</p>\r\r<p>Key updates for this year:</p>\r\r<ul>\r<li>First lecture: <strong>Wednesday, February 5, 2025</strong> in Aula 3I from 9:00 to 10:30</li>\r<li>New lab sessions with updated exercises on POSIX threads</li>\r<li>All course materials on <a href=\"https://github.com/polito-sdp-2025\">GitHub</a></li>\r</ul>\r\r<p>Please join our <strong>Slack workspace</strong> for course communications.</p>\r\r<p>See you in class!</p>\r\r<p>Prof. Giovanni Malnati</p>\r'
        '201':
          description: Creato
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CourseNotice'
                required:
                  - data
              example:
                data:
                  id: '342891'
                  title: Midterm Exam Announcement
                  body: '<p>The midterm exam will be held on March 15, 2025</p>'
                  status: VISIBLE
                  publishedAt: '2025-02-03T10:00:00Z'
                  createdAt: '2025-02-03T10:00:00Z'
                  visibleFrom: '2025-02-03T10:00:00Z'
                  visibleTo: null
                  content: '<p>Dear students,</p>\r\r<p>The <strong>midterm exam</strong> for System and Device Programming will be held on:</p>\r\r<p><strong>Date:</strong> March 15, 2025<br />\r<strong>Time:</strong> 9:00 - 11:00<br />\r<strong>Location:</strong> Aula 3I, Cittadella Politecnica</p>\r\r<p>Topics covered:</p>\r<ul>\r<li>Process management and scheduling</li>\r<li>Thread programming with POSIX</li>\r<li>Synchronization primitives</li>\r<li>Basic memory management</li>\r</ul>\r\r<p>Registration opens on March 1st on the Portale della Didattica.</p>\r\r<p>Good luck with your preparation!</p>\r\r<p>Prof. Giovanni Malnati</p>\r'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags:
        - Common - Courses
      summary: Elimina avviso del corso
      operationId: deleteCourseNoticeV2
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CourseId'
        - $ref: '#/components/parameters/NoticeId'
      responses:
        '204':
          description: Eliminato
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/preferences':
    patch:
      tags:
        - Common - Courses
      summary: Update course preferences | Aggiorna preferenze del corso
      operationId: updateCoursePreferences
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoursePreferencesRequest'
        required: true
      responses:
        '200':
          description: Success
        '404':
          description: Course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/videolectures':
    get:
      tags:
        - Common - Courses
      summary: List videolectures | Elenca videolezioni
      operationId: getCourseVideolectures
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VideoLecture'
                required:
                  - data
              example:
                data:
                  - id: 888122
                    title: Lecture 1 - Introduction to Operating Systems
                    teacherId: 2893
                    abstract: Overview of operating system concepts, architecture, and fundamental principles
                    coverUrl: 'https://polito-videolectures.s3.eu-west-1.amazonaws.com/covers/sdp_lec01_cover.jpg'
                    videoUrl: 'https://polito-videolectures.s3.eu-west-1.amazonaws.com/videos/sdp_lec01.mp4'
                    audioUrl: 'https://polito-videolectures.s3.eu-west-1.amazonaws.com/audio/sdp_lec01.mp3'
                    createdAt: '2025-02-05T11:00:00Z'
                    duration: 01h 28m
                  - id: 888145
                    title: Lecture 2 - Process Management
                    teacherId: 2893
                    abstract: Process creation, scheduling, and inter-process communication mechanisms
                    coverUrl: 'https://polito-videolectures.s3.eu-west-1.amazonaws.com/covers/sdp_lec02_cover.jpg'
                    videoUrl: 'https://polito-videolectures.s3.eu-west-1.amazonaws.com/videos/sdp_lec02.mp4'
                    audioUrl: 'https://polito-videolectures.s3.eu-west-1.amazonaws.com/audio/sdp_lec02.mp3'
                    createdAt: '2025-02-07T10:45:00Z'
                    duration: 01h 32m
                  - id: 888167
                    title: Lecture 3 - Threads and Concurrency
                    teacherId: 2893
                    abstract: Introduction to POSIX threads, thread creation, and basic synchronization
                    coverUrl: 'https://polito-videolectures.s3.eu-west-1.amazonaws.com/covers/sdp_lec03_cover.jpg'
                    videoUrl: 'https://polito-videolectures.s3.eu-west-1.amazonaws.com/videos/sdp_lec03.mp4'
                    audioUrl: 'https://polito-videolectures.s3.eu-west-1.amazonaws.com/audio/sdp_lec03.mp3'
                    createdAt: '2025-02-12T11:15:00Z'
                    duration: 01h 24m
        '404':
          description: Course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  '/courses/{courseId}/virtual-classrooms':
    get:
      tags:
        - Common - Courses
      summary: List virtual classrooms | Elenca virtual classroom
      operationId: getCourseVirtualClassrooms
      parameters:
        - name: courseId
          in: path
          required: true
          schema:
            type: integer
        - name: live
          in: query
          description: Filter virtual classrooms by their live status
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/VirtualClassroomLive'
                        - $ref: '#/components/schemas/VirtualClassroom'
                      discriminator:
                        propertyName: type
                required:
                  - data
              example:
                data:
                  - id: 149336
                    title: 'CYB / lecture 28.09.2021 (TLS, slides 1-40)'
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/BE7C779FC37D50996EE1FF32B6BC7FAE/6305E087/vc2021/252258/64cdcfc29ac1cd827d20ff1fa62c512eade6b3c0-1632832182985.mp4'
                    createdAt: '2021-09-28T14:29:00Z'
                    duration: 02h 56m
                    type: recording
                  - id: 150397
                    title: 'CYB / lecture 01.10.2021 (TLS, slides 41-55)'
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/0BC53A27F4776D8A6809D28EB4CB3C9F/6305E087/vc2021/252258/e5e7a53da68cebd5cff1a585659092fcfeca651a-1633074845891.mp4'
                    createdAt: '2021-10-01T09:54:00Z'
                    duration: 01h 31m
                    type: recording
                  - id: 151650
                    title: 'CYB / lecture 5.10.2021 (TLS, slides 56-end, + SSH all slides)'
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/56DA5556ECD96ED30EC6F8CBAB704285/6305E087/vc2021/252258/c30092cca256f522f64774e19538d43909ce558b-1633437688385.mp4'
                    createdAt: '2021-10-05T14:41:00Z'
                    duration: 02h 43m
                    type: recording
                  - id: 152904
                    title: 'CYB / exercises 8.10.2021 (TLS, SSH, and laboratory introduction)'
                    teacherId: 12066
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/B738FA2018D0CEDAD999B09E88A0A5BC/6305E087/vc2021/252258/6d7e5ddb4c6accf0ee0ac2f5694ff57b03452a33-1633680044979.mp4'
                    createdAt: '2021-10-08T10:00:00Z'
                    duration: 01h 29m
                    type: recording
                  - id: 154120
                    title: CYB / lecture 12.10.2021 (X.509-PKI slides 1-37)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/59B0F46ACE7A752394D15CFA7ABE1D04/6305E087/vc2021/252258/7ed626fec39372a49de2789c02a30d42e4ed9550-1634041964568.mp4'
                    createdAt: '2021-10-12T14:32:00Z'
                    duration: 02h 49m
                    type: recording
                  - id: 155289
                    title: CYB / lecture 15.10.2021 (X.509-PKI slides 38-50)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/26673F1C1E978DD6EF3A936453977414/6305E087/vc2021/252258/80a41d52d94c236e8d076c959bdd6594df4c640d-1634287717877.mp4'
                    createdAt: '2021-10-15T10:48:00Z'
                    duration: 00h 29m
                    type: recording
                  - id: 156556
                    title: CYB / lecture 18.10.2021 (X.509-PKI slides 51-87)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/683EC58FC3F66A232F871CE9AF6EC41F/6305E087/vc2021/252258/26a670587a538805ca101505347c1f6b95945c7a-1634646791043.mp4'
                    createdAt: '2021-10-19T14:33:00Z'
                    duration: 02h 46m
                    type: recording
                  - id: 157810
                    title: CYB / lecture 22.10.2021 (X.509-PKI slides 88-113)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/E46149A506697BABF2D1F1F7D3BD93C4/6305E087/vc2021/252258/54879788014d7f876efa3e37eb0ab41b28ed5ec7-1634889548847.mp4'
                    createdAt: '2021-10-22T09:59:00Z'
                    duration: 01h 14m
                    type: recording
                  - id: 159051
                    title: 'CYB / lecture 26.10.2021 (PKCS#7 and XML dsig/enc, all slides)'
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/C8BC340269DC981A175B5532224C191A/6305E087/vc2021/252258/a3ca5092848ddcfc8e40856f4a7e0d5e806b6612-1635251947471.mp4'
                    createdAt: '2021-10-26T14:39:00Z'
                    duration: 02h 23m
                    type: recording
                  - id: 161152
                    title: CYB / lecture 2.11.2021 (Raccoon attack + WiFi slides 1-33)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/706BF0B4AEA847058A6D1C40FEA13C33/6305E087/vc2021/252258/a450be755938e9117692c396f27df27dfd17d1fc-1635859798379.mp4'
                    createdAt: '2021-11-02T14:29:00Z'
                    duration: 02h 58m
                    type: recording
                  - id: 162379
                    title: CYB / lecture 05.11.2021 (keypair attack + WiFi slides 34-end + e-identity slides 1-10)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/1AB78C6B65D67B72C5CCE0F933225A32/6305E087/vc2021/252258/9e0127b8b6723430d3f984697abc288be39f9422-1636102419696.mp4'
                    createdAt: '2021-11-05T09:53:00Z'
                    duration: 01h 20m
                    type: recording
                  - id: 163693
                    title: CYB / lecture 09.11.2021 (e-identity slides 11-91)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/521B033D824BC6FC0B4D2950CB431960/6305E087/vc2021/252258/548e5779bc1cfd66767c43aa610574c3c3a12dd9-1636464923945.mp4'
                    createdAt: '2021-11-09T14:35:00Z'
                    duration: 02h 48m
                    type: recording
                  - id: 166121
                    title: CYB / lecture 16.11.2021 (trusted computing - all slides)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/360E906166192D9BE6F6155D72E15F1E/6305E087/vc2021/252258/f3018da0ada1e0404dd3b35f5dd4b104bcfee8d3-1637069410236.mp4'
                    createdAt: '2021-11-16T14:30:00Z'
                    duration: 02h 46m
                    type: recording
                  - id: 168367
                    title: CYB / lecture 23.11.2021 (Intel SGX - all slides)
                    teacherId: 37572
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/4FF040DFCF3A479A980291C8C3CCE6CC/6305E087/vc2021/252258/180a6a764703deffc12b2dcee1a424949e325f9d-1637674185628.mp4'
                    createdAt: '2021-11-23T14:29:00Z'
                    duration: 02h 58m
                    type: recording
                  - id: 170812
                    title: 'CYB / lecture 30.11.2021 (forensics, slides 1-40)'
                    teacherId: 12066
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/71B3E9CBDDB642AAA77908985245A885/6305E087/vc2021/252258/87968954515.mp4'
                    createdAt: '2021-11-30T14:32:00Z'
                    duration: 02h 45m
                    type: recording
                  - id: 172948
                    title: CYB / lecture 7.12.2021 (forensics slides 41-end)
                    teacherId: 12066
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/739FC4C2625A96DA19EFB05A3FE043CD/6305E087/vc2021/252258/81581203450.mp4'
                    createdAt: '2021-12-07T14:34:00Z'
                    duration: 01h 18m
                    type: recording
                  - id: 173056
                    title: CYB / lecture 7.12.2021 (ATT&CK + CRING + privacy slides 1-9)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/D039EE5B83A12581050ED2B6B0416F70/6305E087/vc2021/252258/099bf783f435456027c06065201a0eb2d38bd41a-1638889616600.mp4'
                    createdAt: '2021-12-07T16:06:00Z'
                    duration: 01h 19m
                    type: recording
                  - id: 174893
                    title: CYB / lecture 14.12.2021 (Detract + TPM_Win11 + privacy slides 10-end)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/436BD1306E68AFE95AF46B2D0BC1C8DB/6305E087/vc2021/252258/be095df91592bf86178f6bfbf1c9f5bb0d0d0c26-1639488630242.mp4'
                    createdAt: '2021-12-14T14:30:00Z'
                    duration: 02h 31m
                    type: recording
                  - id: 175951
                    title: CYB / lecture 17.12.2021 (thesis topics and exam example)
                    teacherId: 1847
                    coverUrl: 'https://lucapezzolla.com/cover.jpg'
                    videoUrl: 'https://video.polito.it/dl/1EAD6B130FC26060ABF998EF8CF805BA/6305E087/vc2021/252258/73e45093b2c0bc9c88d542d62c3fbe2639a7bd2b-1639731367509.mp4'
                    createdAt: '2021-12-17T09:56:00Z'
                    duration: 00h 50m
                    type: recording
        '404':
          description: Course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /deadlines:
    get:
      tags:
        - Common - Profile
      parameters:
        - name: fromDate
          in: query
          description: First day - defaults to 7 days before today
          required: false
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          description: Last day - defaults to 7 days after today
          required: false
          schema:
            type: string
            format: date
      summary: List deadlines | Elenca scadenze
      operationId: getDeadlines
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deadline'
                required:
                  - data
              example:
                data:
                  - name: 'Termine per l''iscrizione e pagamento della prima rata, per gli studenti di anni successivi al primo'
                    type: Iscrizioni e pagamento tasse
                    date: '2022-10-11'
                    url: null
                  - name: Trasferimento da altri Atenei italiani
                    type: Trasferimenti e valutazioni carriere precedenti
                    date: '2022-10-14'
                    url: null
                  - name: Termine per superare gli esami
                    type: Sessioni esami di laurea
                    date: '2022-11-12'
                    url: null
                  - name: Termine iscrizione esame finale
                    type: Sessioni esami di laurea
                    date: '2022-11-14'
                    url: null
                  - name: Periodo per la compilazione del piano carriera / carico didattico
                    type: Iscrizioni e pagamento tasse
                    date: '2022-11-25'
                    url: null
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /emergencies:
    get:
      tags:
        - Common - Emergencies
      summary: List emergencies | Elenca emergenze
      operationId: listEmergencies
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Risposta paginata con l'elenco delle emergenze.
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/paths/~1emergencies~1%7BemergencyId%7D/get/responses/200/content/application~1json/schema/properties/data'
                  page:
                    type: integer
                    minimum: 1
                  pageSize:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                    minimum: 0
                required:
                  - data
                  - page
                  - pageSize
                  - total
              example:
                data:
                  - id: fire
                    name: Fire
                    formatted_description: '<p>In case of fire:</p><ul><li>Leave immediately and close doors behind you</li><li>Do not use elevators</li><li>If smoke is present, stay low to the ground</li></ul>'
                    phone_number: '112'
                  - id: medical
                    name: Medical Emergency
                    formatted_description: '<p>For medical emergencies:</p><ul><li>Call emergency services immediately</li><li>Stay with the person if safe to do so</li><li>Provide first aid if trained</li></ul>'
                    phone_number: '118'
                  - id: earthquake
                    name: Earthquake
                    formatted_description: '<p>During an earthquake:</p><ul><li>Drop, Cover, and Hold On</li><li>Stay away from windows</li><li>If outdoors, move away from buildings</li></ul>'
                    phone_number: '112'
                page: 1
                pageSize: 20
                total: 3
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
[...]
